<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="numerateweb" sequenceNumber="15">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.enilink.platform.standalone.feature.feature.group" version="1.2.4.201709131418"/>
<repository location="https://dl.bintray.com/enilink/snapshots/enilink/1.2.4.201709131418"/>
</location>
</locations>
</target>
