<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="numerateweb" sequenceNumber="84">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.common.feature.group" version="2.16.0.v20190625-1131"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.18.0.v20190528-0845"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.19.0.v20190907-0428"/>
<unit id="org.eclipse.platform.ide" version="4.13.0.I20190916-1045"/>
<unit id="org.eclipse.rcp.feature.group" version="4.13.0.v20190916-1045"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.13"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.12.0.v201504281640"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190827152740/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.enilink.platform.core.feature.feature.group" version="1.2.4"/>
<unit id="net.enilink.platform.standalone.feature.feature.group" version="1.2.4"/>
<repository location="https://dl.bintray.com/enilink/updates/enilink/1.2.4/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.enilink.komma.edit.feature.feature.group" version="1.3.4.20191202135504"/>
<unit id="net.enilink.komma.edit.ui.feature.feature.group" version="1.3.4.20191202135504"/>
<unit id="net.enilink.komma.editor.feature.feature.group" version="1.3.4.20191202135504"/>
<unit id="net.enilink.komma.feature.feature.group" version="1.3.4.20191202135504"/>
<repository location="http://dl.bintray.com/komma/snapshots/komma/1.3.4.20191202135504/"/>
</location>
</locations>
<includeBundles>
<plugin id="ch.qos.logback.access" version="1.2.3"/>
<plugin id="ch.qos.logback.classic" version="1.2.3"/>
<plugin id="ch.qos.logback.core" version="1.2.3"/>
<plugin id="com.fasterxml.jackson.core.jackson-annotations" version="2.10.1"/>
<plugin id="com.fasterxml.jackson.core.jackson-core" version="2.10.1"/>
<plugin id="com.fasterxml.jackson.core.jackson-databind" version="2.10.1"/>
<plugin id="com.github.jsonld-java" version="0.12.3"/>
<plugin id="com.google.guava" version="25.1.0.jre"/>
<plugin id="com.google.inject" version="4.2.2"/>
<plugin id="com.ibm.icu"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="com.jcraft.jsch.source"/>
<plugin id="com.opencsv" version="4.3.2"/>
<plugin id="com.sun.el"/>
<plugin id="com.sun.el.source"/>
<plugin id="javax.annotation"/>
<plugin id="javax.annotation.source"/>
<plugin id="javax.el"/>
<plugin id="javax.el.source"/>
<plugin id="javax.inject" version="1.0.0.v20091030"/>
<plugin id="javax.inject.source" version="1.0.0.v20091030"/>
<plugin id="javax.servlet" version="3.1.0.v201410161800"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="javax.servlet.jsp.source"/>
<plugin id="javax.servlet.source" version="3.1.0.v201410161800"/>
<plugin id="jcl.over.slf4j"/>
<plugin id="net.enilink.bundles.aopalliance"/>
<plugin id="net.enilink.bundles.javax-inject"/>
<plugin id="net.enilink.bundles.parboiled"/>
<plugin id="net.enilink.bundles.rdf4j"/>
<plugin id="net.enilink.commons.iterator" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.commons.iterator.source"/>
<plugin id="net.enilink.commons.logging" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.commons.logging.source"/>
<plugin id="net.enilink.commons.ui"/>
<plugin id="net.enilink.commons.ui.source"/>
<plugin id="net.enilink.commons.util" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.commons.util.source"/>
<plugin id="net.enilink.composition" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.composition.cache" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.composition.cache.source"/>
<plugin id="net.enilink.composition.properties" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.composition.properties.komma" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.composition.properties.komma.source"/>
<plugin id="net.enilink.composition.properties.source"/>
<plugin id="net.enilink.composition.source"/>
<plugin id="net.enilink.core"/>
<plugin id="net.enilink.komma.common" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.common.source"/>
<plugin id="net.enilink.komma.common.ui"/>
<plugin id="net.enilink.komma.common.ui.rcp"/>
<plugin id="net.enilink.komma.common.ui.rcp.source"/>
<plugin id="net.enilink.komma.common.ui.source"/>
<plugin id="net.enilink.komma.core" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.core.source"/>
<plugin id="net.enilink.komma.dm" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.dm.source"/>
<plugin id="net.enilink.komma.edit" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.edit.source"/>
<plugin id="net.enilink.komma.edit.ui"/>
<plugin id="net.enilink.komma.edit.ui.properties"/>
<plugin id="net.enilink.komma.edit.ui.properties.source"/>
<plugin id="net.enilink.komma.edit.ui.properties.tabbed"/>
<plugin id="net.enilink.komma.edit.ui.properties.tabbed.source"/>
<plugin id="net.enilink.komma.edit.ui.rcp"/>
<plugin id="net.enilink.komma.edit.ui.rcp.source"/>
<plugin id="net.enilink.komma.edit.ui.source"/>
<plugin id="net.enilink.komma.em" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.em.source"/>
<plugin id="net.enilink.komma.literals" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.literals.source"/>
<plugin id="net.enilink.komma.model" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.model.source"/>
<plugin id="net.enilink.komma.owl.edit" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.owl.edit.source"/>
<plugin id="net.enilink.komma.owl.editor"/>
<plugin id="net.enilink.komma.owl.editor.rcp"/>
<plugin id="net.enilink.komma.owl.editor.rcp.source"/>
<plugin id="net.enilink.komma.owl.editor.source"/>
<plugin id="net.enilink.komma.parser" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.parser.source"/>
<plugin id="net.enilink.komma.query" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.query.source"/>
<plugin id="net.enilink.komma.rdf4j" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.rdf4j.source"/>
<plugin id="net.enilink.komma.rdfs.edit" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.rdfs.edit.source"/>
<plugin id="net.enilink.komma.sparql.ui"/>
<plugin id="net.enilink.komma.sparql.ui.source"/>
<plugin id="net.enilink.komma.workbench" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.komma.workbench.source"/>
<plugin id="net.enilink.lift"/>
<plugin id="net.enilink.vocab.foaf" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.vocab.foaf.source"/>
<plugin id="net.enilink.vocab.komma" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.vocab.komma.source"/>
<plugin id="net.enilink.vocab.owl" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.vocab.owl.source"/>
<plugin id="net.enilink.vocab.rdfs" version="1.3.4.20191202135504"/>
<plugin id="net.enilink.vocab.rdfs.source"/>
<plugin id="net.liftweb"/>
<plugin id="org.apache.ant"/>
<plugin id="org.apache.ant.source"/>
<plugin id="org.apache.batik.constants"/>
<plugin id="org.apache.batik.constants.source"/>
<plugin id="org.apache.batik.css"/>
<plugin id="org.apache.batik.css.source"/>
<plugin id="org.apache.batik.i18n"/>
<plugin id="org.apache.batik.i18n.source"/>
<plugin id="org.apache.batik.util"/>
<plugin id="org.apache.batik.util.source"/>
<plugin id="org.apache.commons.beanutils"/>
<plugin id="org.apache.commons.codec" version="1.11.0"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.apache.commons.commons-collections4"/>
<plugin id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
<plugin id="org.apache.commons.io" version="2.6.0"/>
<plugin id="org.apache.commons.io.source"/>
<plugin id="org.apache.commons.jxpath"/>
<plugin id="org.apache.commons.jxpath.source"/>
<plugin id="org.apache.commons.lang3" version="3.8.1"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="org.apache.commons.text"/>
<plugin id="org.apache.felix.gogo.command" version="1.0.2.v20170914-1324"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime" version="1.1.0.v20180713-1646"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell" version="1.1.0.v20180713-1646"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.felix.scr"/>
<plugin id="org.apache.felix.scr.source"/>
<plugin id="org.apache.httpcomponents.httpclient" version="4.5.9"/>
<plugin id="org.apache.httpcomponents.httpcore" version="4.4.11"/>
<plugin id="org.apache.jasper.glassfish"/>
<plugin id="org.apache.jasper.glassfish.source"/>
<plugin id="org.apache.lucene.analyzers-common"/>
<plugin id="org.apache.lucene.analyzers-common.source"/>
<plugin id="org.apache.lucene.analyzers-smartcn"/>
<plugin id="org.apache.lucene.analyzers-smartcn.source"/>
<plugin id="org.apache.lucene.core"/>
<plugin id="org.apache.lucene.core.source"/>
<plugin id="org.apache.mina.core"/>
<plugin id="org.apache.mina.core.source"/>
<plugin id="org.apache.sshd.core"/>
<plugin id="org.apache.sshd.core.source"/>
<plugin id="org.apache.xmlgraphics"/>
<plugin id="org.apache.xmlgraphics.source"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.ant.core.source"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.compare.source"/>
<plugin id="org.eclipse.core.commands" version="3.9.500.v20190805-1157"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.core.contenttype" version="3.7.400.v20190624-1144"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.core.expressions" version="3.6.500.v20190617-1926"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.core.externaltools"/>
<plugin id="org.eclipse.core.externaltools.source"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.core.filesystem" version="1.7.500.v20190620-1312"/>
<plugin id="org.eclipse.core.filesystem.linux.x86_64"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.core.jobs" version="3.10.500.v20190620-1426"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.core.net.linux.x86_64"/>
<plugin id="org.eclipse.core.net.linux.x86_64.source"/>
<plugin id="org.eclipse.core.net.source"/>
<plugin id="org.eclipse.core.resources" version="3.13.500.v20190819-0800"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.core.runtime" version="3.16.0.v20190823-1314"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.debug.core.source"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.debug.ui.source"/>
<plugin id="org.eclipse.e4.core.commands"/>
<plugin id="org.eclipse.e4.core.commands.source"/>
<plugin id="org.eclipse.e4.core.contexts"/>
<plugin id="org.eclipse.e4.core.contexts.source"/>
<plugin id="org.eclipse.e4.core.di"/>
<plugin id="org.eclipse.e4.core.di.annotations"/>
<plugin id="org.eclipse.e4.core.di.annotations.source"/>
<plugin id="org.eclipse.e4.core.di.extensions"/>
<plugin id="org.eclipse.e4.core.di.extensions.source"/>
<plugin id="org.eclipse.e4.core.di.extensions.supplier"/>
<plugin id="org.eclipse.e4.core.di.extensions.supplier.source"/>
<plugin id="org.eclipse.e4.core.di.source"/>
<plugin id="org.eclipse.e4.core.services"/>
<plugin id="org.eclipse.e4.core.services.source"/>
<plugin id="org.eclipse.e4.emf.xpath"/>
<plugin id="org.eclipse.e4.emf.xpath.source"/>
<plugin id="org.eclipse.e4.ui.bindings"/>
<plugin id="org.eclipse.e4.ui.bindings.source"/>
<plugin id="org.eclipse.e4.ui.css.core"/>
<plugin id="org.eclipse.e4.ui.css.core.source"/>
<plugin id="org.eclipse.e4.ui.css.swt"/>
<plugin id="org.eclipse.e4.ui.css.swt.source"/>
<plugin id="org.eclipse.e4.ui.css.swt.theme"/>
<plugin id="org.eclipse.e4.ui.css.swt.theme.source"/>
<plugin id="org.eclipse.e4.ui.di"/>
<plugin id="org.eclipse.e4.ui.di.source"/>
<plugin id="org.eclipse.e4.ui.dialogs"/>
<plugin id="org.eclipse.e4.ui.dialogs.source"/>
<plugin id="org.eclipse.e4.ui.model.workbench"/>
<plugin id="org.eclipse.e4.ui.model.workbench.source"/>
<plugin id="org.eclipse.e4.ui.services"/>
<plugin id="org.eclipse.e4.ui.services.source"/>
<plugin id="org.eclipse.e4.ui.swt.gtk"/>
<plugin id="org.eclipse.e4.ui.swt.gtk.source"/>
<plugin id="org.eclipse.e4.ui.widgets"/>
<plugin id="org.eclipse.e4.ui.widgets.source"/>
<plugin id="org.eclipse.e4.ui.workbench"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt.source"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.source"/>
<plugin id="org.eclipse.e4.ui.workbench.source"/>
<plugin id="org.eclipse.e4.ui.workbench.swt"/>
<plugin id="org.eclipse.e4.ui.workbench.swt.source"/>
<plugin id="org.eclipse.e4.ui.workbench3"/>
<plugin id="org.eclipse.e4.ui.workbench3.source"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.emf.ecore.change.source"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.eclipse.equinox.app" version="1.4.300.v20190815-1535"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.equinox.bidi"/>
<plugin id="org.eclipse.equinox.bidi.source"/>
<plugin id="org.eclipse.equinox.cm" version="1.4.100.v20190714-1849"/>
<plugin id="org.eclipse.equinox.cm.source"/>
<plugin id="org.eclipse.equinox.common" version="3.10.500.v20190815-1535"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.equinox.concurrent.source"/>
<plugin id="org.eclipse.equinox.console" version="1.4.0.v20190819-1430"/>
<plugin id="org.eclipse.equinox.console.jaas.fragment"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.equinox.console.ssh"/>
<plugin id="org.eclipse.equinox.console.ssh.source"/>
<plugin id="org.eclipse.equinox.coordinator"/>
<plugin id="org.eclipse.equinox.coordinator.source"/>
<plugin id="org.eclipse.equinox.device"/>
<plugin id="org.eclipse.equinox.device.source"/>
<plugin id="org.eclipse.equinox.ds" version="1.6.0.v20190122-0806"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.equinox.event" version="1.5.200.v20190814-0953"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source"/>
<plugin id="org.eclipse.equinox.frameworkadmin.source"/>
<plugin id="org.eclipse.equinox.http.jetty" version="3.7.200.v20190714-1849"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.eclipse.equinox.http.registry" version="1.1.700.v20190214-1948"/>
<plugin id="org.eclipse.equinox.http.registry.source"/>
<plugin id="org.eclipse.equinox.http.servlet" version="1.6.200.v20190823-1423"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.eclipse.equinox.http.servletbridge"/>
<plugin id="org.eclipse.equinox.http.servletbridge.source"/>
<plugin id="org.eclipse.equinox.io"/>
<plugin id="org.eclipse.equinox.io.source"/>
<plugin id="org.eclipse.equinox.ip"/>
<plugin id="org.eclipse.equinox.ip.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper.source"/>
<plugin id="org.eclipse.equinox.launcher" version="1.5.500.v20190715-1310"/>
<plugin id="org.eclipse.equinox.launcher.gtk.linux.x86_64" version="1.1.1100.v20190907-0426"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.equinox.log.stream"/>
<plugin id="org.eclipse.equinox.log.stream.source"/>
<plugin id="org.eclipse.equinox.metatype"/>
<plugin id="org.eclipse.equinox.metatype.source"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.eclipse.equinox.p2.console.source"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.equinox.p2.director.app.source"/>
<plugin id="org.eclipse.equinox.p2.director.source"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher.source"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation.source"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector.source"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.eclipse.equinox.p2.operations"/>
<plugin id="org.eclipse.equinox.p2.operations.source"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse"/>
<plugin id="org.eclipse.equinox.p2.publisher.eclipse.source"/>
<plugin id="org.eclipse.equinox.p2.publisher.source"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins.source"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.equinox.p2.repository.tools.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives.source"/>
<plugin id="org.eclipse.equinox.p2.transport.ecf"/>
<plugin id="org.eclipse.equinox.p2.transport.ecf.source"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.eclipse.equinox.p2.ui.importexport"/>
<plugin id="org.eclipse.equinox.p2.ui.importexport.source"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler.source"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.source"/>
<plugin id="org.eclipse.equinox.p2.ui.source"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.equinox.p2.updatechecker.source"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="org.eclipse.equinox.p2.updatesite.source"/>
<plugin id="org.eclipse.equinox.preferences" version="3.7.500.v20190815-1535"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.equinox.region"/>
<plugin id="org.eclipse.equinox.region.source"/>
<plugin id="org.eclipse.equinox.registry" version="3.8.500.v20190714-1850"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.equinox.security" version="1.3.300.v20190714-1851"/>
<plugin id="org.eclipse.equinox.security.linux.x86_64"/>
<plugin id="org.eclipse.equinox.security.linux.x86_64.source"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.equinox.security.ui.source"/>
<plugin id="org.eclipse.equinox.servletbridge"/>
<plugin id="org.eclipse.equinox.servletbridge.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.equinox.supplement"/>
<plugin id="org.eclipse.equinox.supplement.source"/>
<plugin id="org.eclipse.equinox.transforms.hook"/>
<plugin id="org.eclipse.equinox.transforms.hook.source"/>
<plugin id="org.eclipse.equinox.transforms.xslt"/>
<plugin id="org.eclipse.equinox.transforms.xslt.source"/>
<plugin id="org.eclipse.equinox.useradmin"/>
<plugin id="org.eclipse.equinox.useradmin.source"/>
<plugin id="org.eclipse.equinox.util" version="1.1.300.v20190714-1852"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.equinox.weaving.caching"/>
<plugin id="org.eclipse.equinox.weaving.caching.j9"/>
<plugin id="org.eclipse.equinox.weaving.caching.j9.source"/>
<plugin id="org.eclipse.equinox.weaving.caching.source"/>
<plugin id="org.eclipse.equinox.weaving.hook"/>
<plugin id="org.eclipse.equinox.weaving.hook.source"/>
<plugin id="org.eclipse.equinox.wireadmin"/>
<plugin id="org.eclipse.equinox.wireadmin.source"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.help.base.source"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.help.ui.source"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.eclipse.help.webapp.source"/>
<plugin id="org.eclipse.jetty.continuation" version="9.4.20.v20190813"/>
<plugin id="org.eclipse.jetty.continuation.source"/>
<plugin id="org.eclipse.jetty.http" version="9.4.20.v20190813"/>
<plugin id="org.eclipse.jetty.http.source"/>
<plugin id="org.eclipse.jetty.io" version="9.4.20.v20190813"/>
<plugin id="org.eclipse.jetty.io.source"/>
<plugin id="org.eclipse.jetty.security" version="9.4.20.v20190813"/>
<plugin id="org.eclipse.jetty.security.source"/>
<plugin id="org.eclipse.jetty.server" version="9.4.20.v20190813"/>
<plugin id="org.eclipse.jetty.server.source"/>
<plugin id="org.eclipse.jetty.servlet" version="9.4.20.v20190813"/>
<plugin id="org.eclipse.jetty.servlet.source"/>
<plugin id="org.eclipse.jetty.util" version="9.4.20.v20190813"/>
<plugin id="org.eclipse.jetty.util.source"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.eclipse.jsch.core.source"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="org.eclipse.jsch.ui.source"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.ltk.core.refactoring.source"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.ltk.ui.refactoring.source"/>
<plugin id="org.eclipse.osgi" version="3.15.0.v20190830-1434"/>
<plugin id="org.eclipse.osgi.compatibility.state"/>
<plugin id="org.eclipse.osgi.compatibility.state.source"/>
<plugin id="org.eclipse.osgi.services" version="3.8.0.v20190206-2147"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.eclipse.platform.source"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.search.source"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64"/>
<plugin id="org.eclipse.swt.gtk.linux.x86_64.source"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.team.core.source"/>
<plugin id="org.eclipse.team.genericeditor.diff.extension"/>
<plugin id="org.eclipse.team.genericeditor.diff.extension.source"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.team.ui.source"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.text.quicksearch"/>
<plugin id="org.eclipse.text.quicksearch.source"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.eclipse.ui.browser.source"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.eclipse.ui.cheatsheets.source"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.ui.console.source"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="org.eclipse.ui.externaltools.source"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.ui.genericeditor"/>
<plugin id="org.eclipse.ui.genericeditor.source"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="org.eclipse.ui.ide.application.source"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.ui.intro.quicklinks"/>
<plugin id="org.eclipse.ui.intro.quicklinks.source"/>
<plugin id="org.eclipse.ui.intro.source"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.ui.intro.universal.source"/>
<plugin id="org.eclipse.ui.monitoring"/>
<plugin id="org.eclipse.ui.monitoring.source"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.ui.navigator.resources.source"/>
<plugin id="org.eclipse.ui.navigator.source"/>
<plugin id="org.eclipse.ui.net"/>
<plugin id="org.eclipse.ui.net.source"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="org.eclipse.ui.themes"/>
<plugin id="org.eclipse.ui.themes.source"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.ui.views.log"/>
<plugin id="org.eclipse.ui.views.log.source"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.ui.views.properties.tabbed.source"/>
<plugin id="org.eclipse.ui.views.source"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.update.configurator.source"/>
<plugin id="org.eclipse.urischeme"/>
<plugin id="org.eclipse.urischeme.source"/>
<plugin id="org.junit" version="4.12.0.v201504281640"/>
<plugin id="org.junit.source" version="4.12.0.v201504281640"/>
<plugin id="org.mapdb.mapdb" version="1.0.8"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.objectweb.asm.commons"/>
<plugin id="org.objectweb.asm.tree"/>
<plugin id="org.objectweb.asm.tree.analysis"/>
<plugin id="org.objectweb.asm.util"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.scala-lang.modules.scala-xml"/>
<plugin id="org.scala-lang.scala-library"/>
<plugin id="org.scala-lang.scala-reflect"/>
<plugin id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<plugin id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<plugin id="org.slf4j.logback" version="1.3.4.20191202135504"/>
<plugin id="org.slf4j.logback.source"/>
<plugin id="org.tukaani.xz"/>
<plugin id="org.tukaani.xz.source"/>
<plugin id="org.w3c.css.sac"/>
<plugin id="org.w3c.css.sac.source"/>
<plugin id="org.w3c.dom.events"/>
<plugin id="org.w3c.dom.events.source"/>
<plugin id="org.w3c.dom.smil"/>
<plugin id="org.w3c.dom.smil.source"/>
<plugin id="org.w3c.dom.svg"/>
<plugin id="org.w3c.dom.svg.source"/>
<plugin id="slf4j.api"/>
</includeBundles>
</target>
